APP_ENV=local
APP_URL=http://localhost
APP_TIMEZONE=Asia/Jakarta

DB_PATH=database/indexer.sqlite

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
ADMIN_EMAILS=

UPLOAD_MAX_SIZE=2097152
DEFAULT_PER_PAGE=5
MAX_PER_PAGE=50
